---
interface Props {
  href: string
  icon: string
  title: string
  description: string
  external?: boolean
}

const { href, icon, title, description, external = false } = Astro.props
---

<a
  href={href}
  class="project-item"
  target={external ? '_blank' : undefined}
  rel={external ? 'noopener noreferrer' : undefined}
>
  <div class="project-item-content">
    <img class="project-item-icon" src={icon} alt="" loading="lazy" />
    <h3 class="project-item-heading">{title}</h3>
    <p class="project-item-description">{description}</p>
  </div>
</a>
