---
interface Props {
  href: string
  icon: string
  title: string
  description: string
}

const { href, icon, title, description } = Astro.props
---

<article class="project-item">
  <a href={href} class="project-item-link" target="_blank" rel="noopener noreferrer">
    <img class="project-item-icon" src={icon} alt="" loading="lazy" />
    <div class="project-item-copy">
      <h3 class="project-item-heading">{title}</h3>
      <p class="project-item-description">{description}</p>
    </div>
  </a>
</article>
