---
import ProjectItem from './ProjectItem.astro'
import { getCollection } from 'astro:content'
import { PROJECT_DETAIL_PAGES_ENABLED } from '../../config/features'

const projects = await getCollection('projects')
---

<section id="projects" class="projects-section" aria-labelledby="projects-title">
  <h2 id="projects-title" class="section-title">Projects</h2>
  <div class="projects-grid">
    {
      projects.map((project) => (
        <ProjectItem
          href={PROJECT_DETAIL_PAGES_ENABLED ? `/${project.slug}` : project.data.link}
          external={!PROJECT_DETAIL_PAGES_ENABLED}
          icon={project.data.icon}
          title={project.data.title}
          description={project.data.description}
        />
      ))
    }
  </div>
</section>
