<header class="header">
  <nav>
    <a href="/resume" class="resume-link">
      <span class="resume-text text-brown">Resume</span>
    </a>
  </nav>
</header>

<style>
  .header {
    width: 100%;
    padding: 2rem 3rem;
  }

  .resume-link {
    text-decoration: none;
    float: right;
  }

  .resume-text {
    font-size: 1rem;
  }
</style> 