---
import Layout from '../layouts/Layout.astro'
import { siteConfig } from '../config/site'
import Intro from '../components/intro/Intro.astro'
import Projects from '../components/projects/Projects.astro'

// Keep the project section available without rendering it on the homepage.
const showProjects = false

const homeJsonLd = [
  {
    '@context': 'https://schema.org',
    '@type': 'WebSite',
    name: siteConfig.siteName,
    url: siteConfig.siteUrl,
    inLanguage: siteConfig.language,
  },
  {
    '@context': 'https://schema.org',
    '@type': 'Person',
    name: siteConfig.siteName,
    url: siteConfig.siteUrl,
  },
]
---

<Layout
  seo={{
    path: '/',
    jsonLd: homeJsonLd,
  }}
>
  <div class="home-page">
    <Intro />
    {showProjects && <Projects />}
  </div>
</Layout>
