---
const socialLinks = [
  {
    name: 'GitHub',
    url: 'https://github.com/ronald-balutiu/',
    icon: '/assets/github-mark.svg',
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/ronald-balutiu-24b594172/',
    icon: '/assets/linkedin.svg',
  },
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/rbalutiu/',
    icon: '/assets/instagram.svg',
  },
  {
    name: 'Email',
    url: 'mailto:rbalutiu@gmail.com',
    icon: '/assets/email.svg',
  },
]
---

<footer class="p-8 bg-gray-200">
  <div class="flex justify-center gap-8">
    {
      socialLinks.map(({ name, url, icon }) => (
        <a href={url} target="_blank" rel="noopener noreferrer" class="link flex items-center">
          <img src={icon} alt={name} class="mr-2 w-5 h-5" loading="lazy" />
          {name}
        </a>
      ))
    }
  </div>
</footer>

<style>
  .footer {
    padding: 2rem;
    background-color: var(--gray-200);
  }

  .social-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
  }
</style>
