<header class="header">
  <nav>
    <a href="/resume.pdf" target="_blank" rel="noopener noreferrer" class="resume-link">
      <span class="resume-text text-brown link">Resume</span>
    </a>
  </nav>
</header>

<style>
  .header {
    width: 100%;
    padding: 2rem 3rem;
    box-sizing: border-box;
  }

  nav {
    display: flex;
    justify-content: flex-end;
  }

  .resume-text {
  }

  @media (max-width: 640px) {
    .header {
      padding: 1.5rem;
    }
  }
</style>
