---
const socialLinks = [
  {
    name: 'GitHub',
    url: 'https://github.com/ronald-balutiu/',
    icon: '/assets/github-mark.svg',
  },
  {
    name: 'LinkedIn',
    url: 'https://www.linkedin.com/in/ronald-balutiu/',
    icon: '/assets/linkedin.svg',
  },
  {
    name: 'Instagram',
    url: 'https://www.instagram.com/studio.balutiu/',
    icon: '/assets/instagram.svg',
  },
  {
    name: 'Email',
    url: 'mailto:rbalutiu@gmail.com',
    icon: '/assets/email.svg',
  },
]
---

<section class="intro">
  <div class="intro-content">
    <h1 class="intro-title">
      <span class="intro-title-solid">Ronald</span>
      <span class="intro-title-outline">
        Balutiu
        <img
          src="/assets/peace.svg"
          alt="Peace"
          class="intro-peace-icon inline-block transform rotate-10"
        />
      </span>
    </h1>
    <p class="intro-description">Design-minded engineer shipping high quality, high impact work.</p>
    <div class="intro-social-links" aria-label="Social links">
      {
        socialLinks.map(({ name, url, icon }) => (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            class="intro-social-link"
            aria-label={name}
          >
            <img src={icon} alt="" class="intro-social-icon" loading="lazy" aria-hidden="true" />
          </a>
        ))
      }
    </div>
  </div>
</section>

<style>
  .intro-peace-icon {
    width: 3rem; /* Adjust size as needed */
    height: 3rem; /* Adjust size as needed */
    color: var(--text); /* Ensure it matches the text color */
    margin-left: -0.3rem;
    vertical-align: middle;
    position: relative;
    bottom: 0.2rem;
  }
</style>
